*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     text-align: center;
}
.container{
     background-color: blueviolet;
     display: flex;
     justify-content: center;

      
     
}
.item{



}
